In [1]:
import pandas as pd
import numpy as np
import re

In [39]:
df1 = pd.read_csv(r'C:/Users/OMKAR/Desktop/Practice/KPMG/Uncleaned/CustomersDemographics.csv')
df2 = pd.read_csv(r'C:/Users/OMKAR/Desktop/Practice/KPMG/Uncleaned/CustomersAddress.csv')

In [9]:
df1.head()

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,default,owns_car,tenure
0,1,Laraine,Medendorp,F,93,12-10-1953,Executive Secretary,Health,Mass Customer,N,"""'",Yes,11.0
1,2,Eli,Bockman,Male,81,16-12-1980,Administrative Officer,Financial Services,Mass Customer,N,<script>alert('hi')</script>,Yes,16.0
2,3,Arlin,Dearle,Male,61,20-01-1954,Recruiting Manager,Property,Mass Customer,N,01-Feb,Yes,15.0
3,4,Talbot,NaN,Male,33,03-10-1961,NaN,IT,Mass Customer,N,() { _; } >_[$($())] { touch /tmp/blns.shellsh...,No,7.0
4,5,Sheila-kathryn,Calton,Female,56,13-05-1977,Senior Editor,NaN,Affluent Customer,N,NIL,Yes,8.0

In [10]:
df2.head()

,customer_id,address,postcode,state,country,property_valuation
0,1,060 Morning Avenue,2016,New South Wales,Australia,10
1,2,6 Meadow Vale Court,2153,New South Wales,Australia,10
2,4,0 Holy Cross Court,4211,QLD,Australia,9
3,5,17979 Del Mar Point,2448,New South Wales,Australia,4
4,6,9 Oakridge Court,3216,VIC,Australia,9

### Exploring Customer Demographics table

In [11]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 13 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   customer_id                          4000 non-null   int64
 1   first_name                           4000 non-null   object
 2   last_name                            3875 non-null   object
 3   gender                               4000 non-null   object
 4   past_3_years_bike_related_purchases  4000 non-null   int64
 5   DOB                                  3913 non-null   object
 6   job_title                            3494 non-null   object
 7   job_industry_category                3344 non-null   object
 8   wealth_segment                       4000 non-null   object
 9   deceased_indicator                   4000 non-null   object
 10  default                              3698 non-null   object
 11  owns_car                             4000 non-null   object
 12  tenure                               3913 non-null   float64
dtypes: float64(1), int64(2), object(10)
memory usage: 406.4+ KB

In [12]:
##checking for null values
df1.isnull().sum()

customer_id                              0
first_name                               0
last_name                              125
gender                                   0
past_3_years_bike_related_purchases      0
DOB                                     87
job_title                              506
job_industry_category                  656
wealth_segment                           0
deceased_indicator                       0
default                                302
owns_car                                 0
tenure                                  87
dtype: int64

In [13]:
##checking for duplicate values
df1.duplicated().sum()

0

In [14]:
##checking for unique values
df1.nunique()

customer_id                            4000
first_name                             3139
last_name                              3725
gender                                    6
past_3_years_bike_related_purchases     100
DOB                                    3448
job_title                               195
job_industry_category                     9
wealth_segment                            3
deceased_indicator                        2
default                                 101
owns_car                                  2
tenure                                   22
dtype: int64

### Exploring CustomerDemographics columns

In [16]:
df1.columns

Index(['customer_id', 'first_name', 'last_name', 'gender',
       'past_3_years_bike_related_purchases', 'DOB', 'job_title',
       'job_industry_category', 'wealth_segment', 'deceased_indicator',
       'default', 'owns_car', 'tenure'],
      dtype='object')

In [22]:
df1['gender'].value_counts()

Female    2037
Male      1872
U           88
F            1
Femal        1
M            1
Name: gender, dtype: int64

In [40]:
## replacing irrelevant Gender values into common values
df1['gender'] = df1['gender'].replace('F', 'Female').replace('Femal','Female').replace('M','Male').replace('U','Unspecified')

In [41]:
df1['gender'].value_counts()

Female         2039
Male           1873
Unspecified      88
Name: gender, dtype: int64

In [28]:

df1['past_3_years_bike_related_purchases']

0       93
1       81
2       61
3       33
4       56
        ..
3995     8
3996    87
3997    60
3998    11
3999    76
Name: past_3_years_bike_related_purchases, Length: 4000, dtype: int64

In [30]:
df1['DOB'].isnull().sum()

87

In [32]:
### Converting Object Datatype to Datetime Datatype
df1['DOB'] = pd.to_datetime(df1['DOB'])

In [33]:
### Filling null values with relevant values
df1['DOB'] = df1['DOB'].fillna('not recorded')

In [42]:
df1['DOB'].value_counts()

30-01-1978    7
08-07-1964    4
17-12-1962    4
19-08-1978    4
13-05-1977    4
             ..
16-06-1989    1
30-09-1998    1
11-03-1985    1
23-10-1989    1
05-11-1991    1
Name: DOB, Length: 3448, dtype: int64

In [44]:
df1['job_title'].value_counts()

Business Systems Development Analyst    45
Tax Accountant                          44
Social Worker                           44
Internal Auditor                        42
Recruiting Manager                      41
                                        ..
Database Administrator I                 4
Health Coach I                           3
Health Coach III                         3
Research Assistant III                   3
Developer I                              1
Name: job_title, Length: 195, dtype: int64

In [45]:
df1['job_title'] = df1['job_title'].astype('object')

In [46]:
df1['job_title']

0          Executive Secretary
1       Administrative Officer
2           Recruiting Manager
3                          NaN
4                Senior Editor
                 ...
3995     VP Product Management
3996           Statistician II
3997         Assistant Manager
3998                       NaN
3999      Software Engineer IV
Name: job_title, Length: 4000, dtype: object

In [48]:
df1['job_title'] = df1['job_title'].fillna('not recorded
                                           ')

506